q::before,  q::after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

/* Style */

.container {
    width: 800px;
    margin: auto;
    background-color: white;
}

body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
}

.header{
    padding: 20px;
}
.header .judul {
    font-size: 40px;
    font-weight: bold;
}
